################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/SieveOfEratosthenes/bin/Debug
/SieveOfEratosthenes/obj/Debug
